minimserver.udn = 3d5fc5dc-0b4d-4de9-a9c9-5a550a9e1b46
minimserver.lastIndexTags = Artist, Date, Genre, All Artists, Composer, Conductor, Orchestra
minimserver.tagOptions = Album.sortTags\={Album, Artist}
minimserver.systemUpdateID = 3
minimserver.previousAlbumArtistDisplayRole = true
minimserver.tagCustom = AlbumArtist.displayRole\={artist}, Composer.displayRole\={artist}
minimserver.tagFormat = Artist.displayFormat\={$artist$orchestra$conductor}
minimserver.configVersion = 0.8.213
minimserver.contentDir = /media
